.venv/
__pycache__/
.DS_Store
site/
.mypy_cache/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*.log
dist/
build/
docs/assets/*
!docs/assets/overrides.css
!docs/assets/darkmode.js
!docs/assets/number_toc.js
!docs/assets/open_details.js
.env
